@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {    
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 95px 1fr;
    grid-template-columns: 1fr;
    font-family: 'Lato';
    font-size: 14px; 
    color: #666d89;
    background: #f2f2f2;
}

.header {
    grid-area: header;
    display: grid;
    align-items: center;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: sticky;
    top: 0;
    z-index: 20;
}

.main {
    grid-area: main;
    overflow: hidden;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

h1 {
    font-family: 'LatoBlack';
    font-size: 30px;
    line-height: 1.3;
}

h2 {
    font-family: 'LatoBlack';
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.header__content,
.slider__content,
.services__content
  {
    display: grid;
    grid-gap: 20px;
}

nav ul {
    list-style: none;
}

.header__content {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: -4px;
}

.header a {    
    font-family: 'LatoBold';
    color: #ffffff;
}

.logo__block {
    grid-column: span 2;
}

.header__content .mobile-menu-icon {
    display: none;
    /* position: absolute; */
    width: 2em;
    height: 2em;
    grid-column: 1;
    grid-area: nav;
    background: url(./assets/img/Burger-menu-icon.png) 50% no-repeat;
}

.header__content .mobile-menu-icon:before {
    content:"";

}

.header a.logo {   
    display: flex;  
    align-self: end;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    line-height: 1;    
    letter-spacing: -0.7px;       
}

.header a.logo:after {    
    content:'*';
    color: #f06c64;
}

nav.header__navigation {    
    grid-column: span 10;
    align-self: end;
}

nav.header__navigation ul {
    display: flex;
    justify-content: flex-end;
}
nav.header__navigation ul li {
    padding: 0 0 0 2.2em;
    position: relative;
}

nav.header__navigation ul li:first-child:before {
    display: none;
}

nav.header__navigation ul li:before {
    content: ".";
    position: absolute;
    left: 1em;
    top: 0;
    color: #fff;
    font-size: 1em;
    line-height: 0.9em;
}

nav.header__navigation ul li.active a {
    color: #f06c64;
}

nav.header__navigation ul li a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: -0.2px;
}
nav.header__navigation ul li a:hover {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider .wrapper {
    padding: 0;
}

.slide {
    display: none;
    width: 100%;    
    height: auto;
    grid-column: span 12; 
    -webkit-animation: shadow 0.5s ease-in-out;
    -moz-animation: shadow 0.5s ease-in-out;
    -ms-animation: shadow 0.5s ease-in-out;
    -o-animation: shadow 0.5s ease-in-out;
    animation: shadow 0.5s ease-in-out;
}

.slide.active,
.slide.next {
    display: grid;
}

.slide.next {
    position: absolute;
    top: 0;
}

.slider__content {
    display: flex;
    position: relative;
    overflow: hidden;
}

.slides {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide__iphone2 {
    position: relative;    
}

.slide__iphone2 img {
    width: 100%;
    height: auto;
}

.slide__iphone {
    position: relative;
    background: #f06c64;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "vertical horizontal";
}

.iphone {
    position: relative; 
    cursor: pointer;
    padding: 53px 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.iphone_container.sceen-off img.screen {
    display: none;
}

.iphone .iphone_button {
    position: absolute;
    left: 50%;
    z-index: 5;
    width: 3em;
    bottom: 2.7em;
    height: 3em;
    border-radius: 50%;
    transform: translate(calc(-50% - 1em));    
}
.iphone:before {
    /* content: ''; */
    position: absolute;     
    z-index: 6;
    top: 11px;
    left: 57px;
    width: 339px;
    height: 194px;
    opacity: 1;
    background: #333;
}

.iphone img {
    position: absolute;
    width: 100%;
}

.iphone img.phone {
    z-index: 2;
    width: 90%;
    position: absolute;
}

.iphone img.shadow {
    z-index: 0;
    opacity: 0.15;
    position: relative;
}

.iphone img.screen {
    z-index: 7;
    left: 4%;
    top: 13%;
    border: 3px solid #c6c6c6;
    border-radius: 2px;
    width: 81%;
}

.iphone .iphone_container {
    position: relative;
}

.iphone__horizontal {    
    grid-area: horizontal;
    grid-column: span 7;
    left: -10%;
}

.iphone__horizontal img.phone{
    top: 5%;
}

.iphone__horizontal img.shadow {
    transform: rotateY(180deg);
}

.iphone__horizontal img.screen{
    top: 18%;
}

.iphone__horizontal .iphone_container {
    transform: rotate(90deg);
}

.iphone__vertical {
    grid-area: vertical;
    grid-column: span 5;
    left: 20px;
}

.iphone__vertical img.shadow {
    
}

.to-left {
    animation-name: left;
}
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right{
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.control {
    top: 50%;
    bottom: 0;
    position: absolute;
    display: inline-block;
    height: 27px;
    width: 27px; 
    transform: translateY(-50%);    
}

.control.prev {
    left: 40px;
    right: auto;
}
.control.next {
    left: auto;
    right: 40px;    
}

a.arrow {
    display: block;
    height: 27px;
    width: 27px;
    background: url(./assets/img/chev.png) 0% 50% no-repeat;
    opacity: 0.15;
}

a.arrow:hover {
    opacity: 1;
}

a.arrow-next {   
    transform: rotateY(180deg);
}

.services {
    border-bottom: 6px solid #ffffff;
}

.services__content {
    padding: 60px 0 25px;
}

.services__content .services_description {
    line-height: 1.5;
    font-size: 18px;
    font-family: 'LatoLight';
    letter-spacing: -0.07px;
    word-spacing: -1px;
    text-align: justify;
}

.services__content .layout-3-column {
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-gap: 20px;
    grid-row-gap: 26px;
    /* padding: 25px 0; */
}

.services__content .layout-2-column {
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 18px;
    grid-row-gap: 45px;
    padding: 18px 0;
}

.services__content .layout-2-column .service{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    max-width: 90%;
}

.service {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.service .service__icon span.icon {
    display: flex;
    width: 60px;
    height: 60px;    
    border: 2px solid #666d89;
    border-radius: 50%;
}

.services .service__description{    
    height: 100px;
    overflow: hidden;
    display: grid;
}

.icon_pen {
    background: url(./assets/img/icon/pen.png) 50% no-repeat;
}

.icon_bulb {
    background: url(./assets/img/icon/bulb.png) 50% no-repeat;
}

.icon_heart {
    background: url(./assets/img/icon/heart.png) 50% no-repeat;
}

.icon_phone {
    background: url(./assets/img/icon/phone.png) 50% no-repeat;
}

.icon_bubble {
    background: url(./assets/img/icon/bubble.png) 50% no-repeat;
}

.icon_star {
    background: url(./assets/img/icon/star.png) 50% no-repeat;
}

.service  p {
    padding: 2px 0;
    font-size: 12px;
    font-family: 'Lato';
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.05px;
}

.portfolio__content,
.aboutus__content
  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 19px;
    padding: 60px 0;
    
}

nav ul {
    list-style: none;
}

.portfolio {
    display: grid;
    align-items: center;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #666d89;
}

.aboutus__content h2,
.aboutus__content .aboutus_description,
.portfolio__content h2,
.portfolio__content .portfolio_description, 
.portfolio__content .portfolio__navigation {
    grid-column: span 12;
}

.aboutus__content h2,
.portfolio__content h2,
.quote__content h2 {
    font-size: 30px;
    line-height: 1.3;
}

.portfolio__content .layout-4-column {    
    grid-column: span 12;
    grid-template-rows: repeat(3, 1fr);
    height: 615px;
    padding: 5px;
    margin-bottom: -6px;
    transform: translate(-5px, -5px);
    width: calc(100% + 10px);
    grid-gap: 20px;
    overflow-y: hidden;
    grid-row-gap: 16px;
}

.portfolio__content .layout-3-column {    
    grid-column: span 12;
    grid-template-rows: repeat(4, 1fr);
    height: 806px;
    padding: 5px;
    transform: translate(-5px, -5px);
    width: calc(100% + 10px);
    grid-gap: 20px;
    overflow-y: hidden;
    margin: 20px 0px;
}

.portfolio_description {
    font-size: 18px;
    font-family: "LatoLight";
    letter-spacing: -0.2px;
}

.portfolio__navigation {
    /* margin-top: -5px; */
}

.portfolio__navigation ul {
    display: flex;
}

.portfolio__navigation ul li {
    margin-right: 10px;
}

.portfolio__navigation ul li a {
    padding: 4px 6px;    
    font-size: 12px;
    text-decoration: none;
    color: #767e9e;  
    border: 1px solid #767e9e;
    border-radius: 5px;
}

.portfolio__navigation ul li.active a, 
.portfolio__navigation ul li a:hover {
    color: #dedede;
    border: 1px solid #dedede;
}
.portfolio__item {
    display: flex;
    overflow: hidden;    
    width: 220px;
    height: 188px;    
    justify-content: center;
    align-items: center;
    position: relative;
}

picture.with-border {
    outline: 5px solid #F06C64;
}

.portfolio__item img{
    min-height: 100%;
    width: auto;
    position: absolute;
}

.portfolio__item img.ship {
    margin-top: 15px;
    margin-left: 1px;
} 

.portfolio__item img.girl {
    margin-top: 0px;
    margin-left: -10px;
} 

.portfolio__item img.gray {
    margin-top: 58px;
    margin-left: 4px;
} 

.portfolio__item img.hart {
    margin-top: 3px;
    margin-left: -3px;
} 

.portfolio__item img.rabbit {
    margin-top: 28px;
    margin-left: 1px;
} 

.portfolio__item img.sdk {
    margin-top: 0px;
    margin-left: 3px;
} 

.portfolio__item img.robo {
    margin-top: 53px;
    margin-left: 45px;
} 

.portfolio__item img.bird {
    margin-top: 13px;
    margin-left: 5px;  
} 

.portfolio__item img.monstr {
    margin-top: -1px;
    margin-left: 1px;
} 

.portfolio__item img.radio{
    margin-top: 124px;
    margin-left: -14px;
} 

.portfolio__item img.red {
    margin-top: -64px;
    margin-left: -47px;
} 

.portfolio__item img.door {
    margin-top: 57px;
    margin-left: 2px;
} 

.aboutus {
    display: grid;
    align-items: center;
    color: #767e9e;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;    
}

.aboutus__content .aboutus_description {
    font-size: 18px;
    font-family: "LatoLight";
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: justify;
}

.aboutus__content .layout-3-column {
    grid-column: span 12;
    padding: 25px 0 0;
    grid-gap: 19px;
}

.aboutus__content .person {
    grid-template-areas:
    "photo"
    "description";
    /* grid-template-rows: 300px 1fr; */
    display: grid;
    grid-gap: 15px;
    overflow: hidden;
    /* grid-template-columns: 300px; */
}

.person__photo img {
    width: 100%;
    height: auto;
}

.aboutus__content .person .person__photo {
    grid-area: photo;
    /* width: 300px;
    height: 300px; */
    overflow: hidden;
    display: grid;
}

.aboutus__content .person .person__description {
    grid-area: description;
}

.aboutus__content .person .person__description .person_name {
    overflow: hidden;
    font-size: 18px;
    font-family: "LatoBlack";
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.aboutus__content .person .person__description .person_about {
    padding-top: 5px;
    line-height: 1.7;
    font-size: 12px;    
    letter-spacing: -0.2px;
    text-align: justify;
}

.social__navigation {
    margin-top: 9px;
}

.social__navigation ul {
    display: flex;
}

.social__navigation ul li {
    padding: 0 8px 8px 0;
}

.social__navigation ul li.fb a:before {
    background: url(./assets/img/social/fb.png) 50% no-repeat;
}
.social__navigation ul li.gp a:before {
    background: url(./assets/img/social/gp.png) 50% no-repeat;
}
.social__navigation ul li.tw a:before {
    background: url(./assets/img/social/tw.png) 50% no-repeat;
}
.social__navigation ul li.in a:before {
    background: url(./assets/img/social/in.png) 50% no-repeat;
}

.social__navigation ul li a:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    border: 1px solid #666d89;    
}

.social__navigation ul li a:hover:before {
    opacity: 0.6;
}

.quote__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 60px 0 32px;    
}

nav ul {
    list-style: none;
}

.quote {
    display: grid;
    align-items: center;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
}

.quote__content h2,
.quote__content .quote_description {
    grid-column: span 12;
}

.quote__content .quote_description {
    line-height: 1.5;
}

.quote__form {   
    display: grid;
    grid-column: span 12;
    grid-column-gap: 20px;
    grid-template-columns: 8fr 4fr;
    padding: 0;  
    margin: 25px 0;
}

.quote_description {
    font-size: 18px;
    font-family: "LatoLight";
    letter-spacing: -0.2px;
    text-align: justify;
}

.quote__form form {
    display: grid;
    grid-gap: 15px;
}

form input,
form textarea { 
    padding: 10px 15px;    
    line-height: 19px;   
    font-size: 12px;
    color: #ffffff;
    background: #d6564f;
    border-radius: 5px;
    border: none;
}

form textarea {   
    resize: vertical;
}

form input[type=submit] {
    padding: 0px 5px;
    max-width: 136px;
    height: 38px;
    text-transform: uppercase;
    font-family: "LatoBold";
    font-size: 15px;
    background: #FBC65F;
    color: #886A30;
    cursor: pointer;
    border: 2px solid transparent;
}

form input[type=submit]:hover {
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

form input::placeholder,
form textarea::placeholder {
    color: #f48c8f;
}

form textarea::placeholder {
    letter-spacing: -1.5px;
}

.contact__info {
    font-size: 12px;
}

h3.contact-info-title {
    line-height: 1.2;
    font-size: 18px;
    font-family: "LatoBlack";
}

.contact__info p {
    font-size: 12px;
    margin: 10px 0;
    line-height: 1.8;
    text-align: justify;
}

.contact__info ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 21px;
}

.contact__info ul li:before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    padding-right: 5px;
}

.contact__info ul li.address:before {    
    background: url(../singolo/assets/img/icon/loc.png) no-repeat;
}

.contact__info ul li.phone:before {
    background: url(../singolo/assets/img/icon/tel.png) no-repeat;
}

.contact__info ul li.email:before {
    background: url(../singolo/assets/img/icon/mail.png) no-repeat;
}

.contact__info ul li {
    display: flex;
    align-items: center;
    line-height: 1.9;
}

.contact__info ul li a {
    text-decoration: none;
    color: inherit; 
}

.contact__info ul li.active a, 
.contact__info ul li a:hover {
    color: #ffffff;
}

footer {
    grid-area: footer;
    background-color: #2d303a;
}

.footer__content {
    grid-column: span 12;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 1fr;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    padding: 23px 0;
}

.footer__content .social__navigation {
    margin: 0;
}

.footer__content .social__navigation ul {
    justify-content: flex-end;
}

.footer__content .social__navigation ul li {
    padding: 0 8px 0 0;
}

.footer__content .social__navigation ul li:last-child {
    padding: 0;
}

.layout-3-column {
    grid-template-columns: repeat(3, 3fr);
    display: grid;
    grid-gap: 18px;
    padding: 25px 0;
    grid-column: span 12;
}

.layout-2-column {
    grid-template-columns: repeat(2, 6fr);
    grid-column: span 12;
    display: grid;
    grid-gap: 18px;
    padding: 25px 0;
}

.layout-1-column {
    grid-template-columns: repeat(1, 12fr);
    display: grid;
    grid-gap: 20px;
    padding: 5px 0;
   
}

.layout-4-column {
    grid-template-columns: repeat(4, 3fr);
    display: grid;
    grid-gap: 20px;
    padding: 25px 0;
    grid-column: span 12;
}

.popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #33333385;
}

.popup .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    padding: 1em;
    font-size: 16px;
    background: #ffffff;
}

.popup .modal h4 {
    margin: 0 0 1em;
    font-size: 1.5em;    
}

.popup .modal>div {
    margin-bottom: 1em;
}

.popup .modal .modal__content > strong{
    padding-right: 0.5em;
}

.popup .modal .massage-value{
    max-height: 160px;
    overflow: auto;
}

.popup .modal input[type=button]{
    padding: 0.5em 2em;
    margin: 0.5em 0;
    text-transform: uppercase;
    background: #333;
    border: none;
    color: #ffffff;
}

@media only screen and (max-width: 1019px){
    h2 {
        line-height: 1;
    }

    nav.header__navigation {
        align-self: center;
    }

    nav.header__navigation ul li {
        padding: 0 0 0 2.2em;
    }
    
    .wrapper {
        width: 100%;
    }
    
    .iphone {        
        padding: 4.5vh 0;
    }
    .iphone img.shadow {
        width: 23.5vw;
        height: auto;
    }

    .iphone__vertical {
        left: 4%;
    }

    .control.prev {
        left: 2em;
    }

    .control.next {
        right: 2em;
    }

    .control {
        width: 2em;
        height: 2em;
    }

    .services__content {
        padding: 40px 0;
    }

    .portfolio_description {
        letter-spacing: 0;
        line-height: 30px;
    }

    .portfolio__navigation {
        line-height: 0;
    }

    .portfolio__item {
        width: 100%;
        height: 184px;
    }

    .portfolio__content {
        padding: 60px 0 35px;
    }

    .aboutus__content {
        padding: 55px 0 60px;
    }

    .aboutus__content .layout-3-column {
        grid-column: span 12;
        padding: 20px 0 0;
        grid-gap: 15px;
    }

    .aboutus__content .person .person__description .person_about {
        padding-top: 0px;
        line-height: 1.9;
    }

    .social__navigation {
        margin-top: -5px;
    }

    .aboutus__content .person .person__description .person_name {
        line-height: 1;
    }

    .quote__content .quote_description {
        line-height: 1.6;
    }

    .quote__content {
        padding: 55px 0 35px; 
    }

    .quote__form {
        margin: 5px 0;
        grid-column-gap: 25px;
    }

    .quote__form form {
        grid-gap: 10px;
    }

    form input, form textarea {
        padding: 10px 10px;
        line-height: 20px;
    }

    .contact__info p {
        margin: 0;
        line-height: 1.9;
    }

    .contact__info ul {
        margin-top: 10px;
    }

    .contact__info ul li:before {
        padding-right: 10px;
    }

    form input[type=submit] {
        margin-top: 6px;
        line-height: 38px;
    }

}
@media only screen and (min-width: 375px) and (max-width: 767px) {
    header .wrapper {
        padding: 0 20px;
    }

    .wrapper {
        width: 100%;
        padding: 0 30px;
    }

    body {
        grid-template-rows: 8vh 1fr;
    }

    .header__content {
        grid-template-areas: "nav logo";
    }

    nav.header__navigation {
        display: none;
        position: fixed;
        width: 90%;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .logo__block {
        grid-column: span 10;
        justify-self: center;
        align-self: flex-end;
    }

    .header__content .mobile-menu-icon {
        display: block;
    }

    .header a.logo {
        font-size: 20px;
        margin-left: -6px;
    }

    .slider {
        border-width: 2px;
    }

    .control.prev {
        left: 0.5em;
    }

    .control.next {
        right: 0.5em;
    }

    .iphone {
        padding: 2.1vh 0;
    }

    .iphone__vertical {
        /* left: 8%; */
    }

    .iphone img.shadow {
        /* width: 22vw; */
    }

    .iphone img.phone {
        width: 91%;
    }

    .iphone__horizontal {
        /* left: -12%; */
    }

    .iphone img.screen {
        width: 83%;
    }

    .services__content {
        padding: 30px 0 5px;
    }

    h1 {
        line-height: 1;
    }

    .services__content .services_description {
        line-height: 1.7;
        word-spacing: 0;
    }

    .portfolio__item {
        height: 128px;
    }

    .portfolio__content {
        padding: 45px 0 35px;
    }

    .portfolio_description {
        line-height: 1.5;
    }

    .portfolio__navigation {
        line-height: 1.5;
    }

    .portfolio__content .layout-2-column {
        padding: 5px 0;
        grid-gap: 15px;
        grid-row-gap: 1em;
        height: 560px;
        overflow: hidden;
    }

    .aboutus__content .layout-1-column {
        grid-column: span 12;
    }

    .quote__form {
        grid-template-columns: 1fr;
    }

    .aboutus__content {
        padding: 35px 0 60px;
    }
}